# Archivos y carpetas de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# VSCode
.vscode/

# Binarios y carpetas de build
bin/
obj/
[Bb]uild/
[Ll]og/
*.log
*.vsidx
*.pdb
*.cache
*.db
*.exe
*.dll
*.tmp

# Archivos de gRPC y protobuffers generados
**/*.csproj.user
**/Protos/*.cs
**/Protos/*Grpc.cs
**/*.protodep

# Archivos de NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Archivos generados por Docker o contenedores
Dockerfile.*
docker-compose*

# Configuración temporal
*.launch.json
*.sln.ide

# Ignorar todos los archivos generados por compilación
*.AssemblyInfo.cs
*.Generated.cs

# Otros archivos de sistema
Thumbs.db
ehthumbs.db
.DS_Store
